@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;1,700&display=swap');

body{
  font-family: 'Anonymous Pro', monospace;
}

/* NAVBAR*/
#brand{
font-family: 'Anonymous Pro', monospace;
font-weight: bold;
font-style: italic;
font-size: 30px;
}

#hero{
  background-image: url("./assets/images/heroImg.jpg");
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1{
  color:whitesmoke;
  padding-bottom: 10px;
}

/* Books CARDS */

.truncate{
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden;
}